@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

.container {
    display: flex;
    flex-direction: column;
    margin-top: -6vh;
    min-height: 100vh;
    width: 100%;
    background: #fafafa;
    clip-path: polygon(100% 0, 0 7%, 0 100%, 100% 93%);
    text-align: center;

    h1 {
        font-family: "Satisfy", cursive;
        display: inline-block;
        margin: 10rem auto;
        font-size: 5rem;
    }

    .project {
        display: flex;
        justify-content: center;
        margin-bottom: 10rem;

        video {
            width: calc(45vw - 7rem);
            margin: 0 7rem;
            align-self: flex-start;
            object-fit: cover;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

        .desc {
            text-align: left;
            padding-right: 15vh;

            .tech {
                font-size: 2rem;
                font-family: "Lato", sans-serif;
                font-weight: 400;
                margin-left: 1rem;
            }
        }
    }
}