.budgetyBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  animation: budgetyBGAnimate 1s ease forwards;
}

.toastmasterBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  animation: toastmasterBGAnimate 1s ease forwards;
}

.pmonitorBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  animation: pmonitorBGAnimate 1s forwards;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -6vh;
  margin-bottom: 5rem;
  min-height: 100vh;
  background: #2073e048;
  width: 100%;
  clip-path: polygon(100% 0, 0 5%, 0 100%, 100% 98%);
  text-align: center;

  h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5rem;
    text-transform: uppercase;
    margin: 25rem auto 7rem auto;
    font-size: 10rem;
    font-weight: 900;
  }

  .animateTitle {
    animation: text-shadow-pop-br 1s both;
  }

  $projectPadding: 7rem;

  .project {
    width: calc(90% - #{$projectPadding});
    max-width: calc(1000px - #{$projectPadding});
    margin: 0 auto 10rem auto;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    padding: $projectPadding;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      margin-top: 4rem;

      .projectTitle {
        font-size: 4rem;
        margin-bottom: 0;
      }

      .links {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          margin-right: 1rem;
          transition: all .2s;

          &:hover {
            cursor: pointer;
            transform: scale(.9)
            
          }
        }
      }
    }

    .techLogos {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 50px;
      }
    }

    p {
      line-height: 3.5rem;
      margin-bottom: 0rem !important;
    }

    video {
      margin: 0 auto 5rem auto;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes budgetyBGAnimate {
  from {
    filter: blur(0px);
  }

  50% {
    filter: blur(10px);
  }

  to {
    background: url("../../images/projects/budgetyBG.png") repeat;
    background-color: rgba(169, 223, 241, 0.5);
    filter: blur(0px);
  }
}

@keyframes toastmasterBGAnimate {
  from {
    filter: blur(0px);
  }

  50% {
    filter: blur(10px);
  }

  to {
    background: url("../../images/projects/toastmasterBG.png") repeat;
    background-color: rgb(104, 43, 43);
    filter: blur(0px);
  }
}

@keyframes pmonitorBGAnimate {
  from {
    filter: blur(0px);
  }

  50% {
    filter: blur(2px);
  }

  to {
    background: url("../../images/projects/pmonitorBG.png") repeat;
    background-color: rgba(255, 250, 182, 0.5);
    filter: blur(0px);
  }
}

//  Project title animation

@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555,
      7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555,
      7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
