.container {
  background: #3c5797;
  width: 100%;
  height: 100vh;
  animation: fade 2s ease forwards 7s;
  position: relative;
}

.fixed {
  position: fixed;
}

.disappear {
  position: fixed;
  animation: fade 2s ease forwards;
}

.appear {
  position: static;
  animation: reappear 2s ease forwards;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  width: 60vw;
  height: 300px;
  transform: translate(-50%, -50%);
  animation: fill 1s ease forwards 6s;

  path {
    stroke-dashoffset: 100%;
    stroke-dasharray: 100%;
    animation: dash 2s ease forwards;
  }

  @for $i from 1 to 20 {
    path:nth-child(#{$i}) {
      animation-delay: #{$i * 0.3}s;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: white;
  }
}

@keyframes fade {
  from {
    opacity: 1;
    position: fixed;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes reappear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/// for bg video

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: 0.4;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}