.container {
    background: #394560;
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: fade 2s ease forwards 7s;

}

.disappear {
    animation: fade 2s ease forwards;
}

.appear {
    animation: reappear 2s ease forwards;
}


.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    width: 60vw;
    height: 300px;
    transform: translate(-50%, -50%);
    animation: fill 1s ease forwards 6s;

    path {
        stroke-dashoffset: 100%;
        stroke-dasharray: 100%;
        animation: dash 2s ease forwards;
    }

    @for $i from 1 to 20 {
        path:nth-child(#{$i}) {
            animation-delay: #{$i*.3}s;
        }
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent
    }

    to {
        fill: white;
    }
}

@keyframes fade {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes reappear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}