.form {
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}